.header{
    width: auto;
    padding: 0 48px 0 48px;
    background-color:  gold;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar_item{
    text-decoration: none;
    color: dimgray;
    margin: 0 5px 0 5px;
}